body {
    font-family: Arial, sans-serif;
    background-color: lightblue;
    padding: 2em;
}

table, th, td {
    border: 0.0625em solid black;
    width: auto;
    background-color: white;
}

#submit {
    float: right;
    margin-right: -15em;
}

th.glAccount {
    width: 100%;
}

input, td {
    text-align: right;
}
